html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrap {
  width: 100%;
  /*max-width: 1840px;*/
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.studio-logo {
  display: inline-block;
  /*margin-left: 202px;*/
  margin-top: 23px;
  width: 20%;
  text-align: center;
}

.studio-logo__image {

}

.main-nav {
  float: right;
  /*position: relative;
  top: 37px;
  right: 225px;*/
  margin-top: 2em;
  margin-right: 13em;
}

.main-nav--list {

}

.main-nav--list__element {
  text-transform: uppercase;
  list-style: none;
  display: inline;
  margin-right: 47px;
  color: #343A4A;
  font-weight: 800;
}

.landing-page {
  background-color: #FF483D;
  min-height: 1050px;

}

.landing-page__pencil {
  background-image: url(2.png);
  height: 400px;
  width: 400px;
  position: relative;
  top: 40px;
  right: 100px;
}

.landing-page__pencil-case {
  /*position: relative;
  top: 612px;
  right: 840px;*/
  background-image: url(4.png);
  height: 400px;
  width: 600px;
  position: relative;
  right: 850px;
  top: 630px;
}

.landing-page__pen {
  /*position: relative;
  left: 60px;*/

  background-image: url(img1.png);
  height: 520px;
  width: 584px;
  position: relative;
  left: 125px;

}

.landing-page__sharpner {
  /*position: relative;
  top: 700px;
  left: 1340px;*/
  background-image: url(3.png);
  height: 220px;
  width: 222px;
  position: relative;
  left: 1200px;
  top: 720px;
}

.landing-page__title {
  color: #FFFEFF;
  font-size: 74px;
  text-align: center;
  position: absolute;
  top: 300px;
  line-height: 1.7;
  height: 200px;

}

/*.landing-page__button {

  height: 35px;
  position: relative;
  top: 630px;
  right: 500px;
}

.button--view {
  font-size: 20px;
}

.button-contact {

}*/

.about {
  /*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSJ3aGl0ZSIgLz4KICA8Y2lyY2xlIGN4PSIxIiBjeT0iMSIgcj0iMSIgZmlsbD0iYmxhY2siLz4KPC9zdmc+"); background-repeat: repeat;*/
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23747178' fill-opacity='0.17'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.about--list {

}

.about--list__card {
  height: 512px;
  width: 465px;
  display: inline-block;
  margin-top: 168px;
  margin-bottom: 168px;
  margin-right: 35px;
  text-align: center;
  color: white;
}

.branding-card {
  background-color: #242d3c;

}

.website-card {
 background-color: #FFb820;
}

.app-interface-card {
  background-color: #FF483D;
}

.about--list__card--content {

}

.about--list__card--content__header {

}

.about--list__card--content__logo {
  margin-top: 95px;
}

.card-content__images {

}

.about--list__card--content__title {
  font-size: 28px;
}

.about--list__card--content__desc {

}

.container {
  display: flex;
  justify-content: center;
}


.portfolio {

}

.portfolio--main-study {
  margin-top: 150px;
}

.portfolio--main-study__content {
  display: inline-block;
  width: 500px;
  position: relative;
  top: -155px;
  left: 46px;
}

.portfolio--main-study__header {

}

.portfolio--main-study__title {
  font-size: 50px;
  line-height: 1.55;

}

.portfolio--main-study__desc {
  position: relative;
  top: -40px;
  line-height: 1.5;
  /*font-size: 16px;*/

}

.portfolio--main-study__button {

}

.portfolio__button {

}

.portfolio--main-study__figure {
  display: inline-block;
}

.portfolio--main-study__image {

}

.portfolio--other-studies {

}

.portfolio--other-studies__list {

}

.portfolio--other-studies__element {
  display: inline-block;
  width: 500px;
  height: 560px;
}

.portfolio--other-studies__content {

}

.portfolio--other-studies__figure {
  margin: 0;
}

.portfolio--other-studies__image {

}

.portfolio--other-studies__header {

}

.portfolio--other-studies__title {
  font-size: 28px;
  font-weight: 800;
}

.portfolio--other-studies__desc {
  line-height: 1.39;
}

.portfolio--other-studies__button {

}

.portfolio__button {
  width: 250px;
  height: 40px;
  background-color: #FF483D;
  border-color: #FF483D;
  border-color: transparent;
  color: white;
  font-size: 16px;
}

.contact {
  background-color: #FFb820;
  min-height: 1050px;
}

.contact--header {
  position: relative;
  top: 170px;
}

.contact--title {
  color: white;
  font-size: 50px;
  text-align: center;
  margin: 0;
}


.contact--section-input {
  text-align: center;
  position: relative;
  top: 265px;
}

.contact--section-input--list {
  margin-bottom: 35px;
}
.contact--section-input--list__elememt {
  display: inline-block;
}

.contact--section-input--list__elememt--input {
  width: 430px;
  height: 60px;
  background-color: #DFA70D;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
  border-color: transparent;
  border-radius: 9px;
}

.contact--desc-input{
  width: 932px;
  height: 200px;
  position: relative;
  left: 19px;
  margin-bottom: 150px;
  background-color: #DFA70D;
  border-color: transparent;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
  border-radius: 9px;
}


.contact--submitt-button{
  margin: auto;
  display: block;
  width: 250px;
  height: 40px;
  background-color: #FF483D;
  border-color: transparent;
  color: white;
  font-size: 16px;
  position: relative;
  top: 176px;
}

::-webkit-input-placeholder {
  color: white;
}

footer {
  min-height: 450px;
}

.footer--figure {
  display: inline-block;
  margin-left: 270px;
  margin-right: 270px;
  position: relative;
  bottom: 106px;
}

.footer--lists {
  display: inline-block;
  margin-top: 147px;
  margin-right: 260px;
  list-style: none;

}

.footer--lists__elements {
  margin-bottom: 20px;
}

.footer--lists__title {
  font-weight: 800;
}
